.App {
  text-align: center;
  display: grid;
  grid-template-rows: 5rem minmax(calc(100vh - 10rem), auto) 5rem;
  background: wheat;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.new-item {
  width: 57ch;
  margin: 0 auto;
  display: flex;
}

.new-item input[type="text"] {
  font-size: 1.25rem;
  padding: calc(.25rem - 1px) .5rem;
  flex: 1 1 57ch;
}